/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #54e9ee;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#counter {
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #555;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #f10505e0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}